GIN_MODE=release
ENV=dev
API_SSL=true
API_CORS="*"
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=db
POSTGRES_PORT=54320
API_DOMAIN=localhost
API_PORT=8080
HOST_PORT=8081
API_SECRET=xxxxxxx
API_ACCESS_TOKEN=10
API_REFRESH_TOKEN=90
API_TZ=Europe/Paris
URL_FRONT=http://localhost:3000
